@mixin withoutOutline() {
  &:focus {
    outline: 0;
  }
  &:active {
    outline: 0;
  }
}

.map-menu {
  position: absolute;
  top: 10px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  left: 15px;
  right: 15px;
  margin: 0 20px;
  padding: 0 5px;
  border-radius: 5px;
  box-shadow: 0 0 6px #9e9e9e;
}

.map-menu > div {
  display: flex;
  align-items: center;
}

.map-menu > div:first-of-type {
  flex: 1;
}

.map-menu input {
  @include withoutOutline();
  border: none;
  width: 100%;
  padding: 5px;
}

.map-menu a {
  border-left: 1px solid #efefef;
  padding: 10px;
}

// MapDrawer
.map-drawer {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  min-height: 50px;
}

.map-drawer > div {
  padding: 5px;
}

.map-drawer > div:nth-of-type(2) {
  flex: 1;
}

.map-drawer-close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
}